# Copied from https://wiki.archlinux.org/index.php/SSH_keys#Start_ssh-agent_with_systemd_user
#
# Add this line to your ~/.bashrc:
# export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"

[Unit]
Description=SSH key agent
Wants=environment.target
Before=environment.target

[Service]
Type=forking
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -a $SSH_AUTH_SOCK

# Security
# https://lwn.net/Articles/709755/
PrivateTmp=yes
ProtectSystem=yes
ProtectHome=yes
# Disable (don't work for user systemd):
# ProtectKernelModules=yes
# MemoryDenyWriteExecute=yes
# RestrictRealtime=yes
# PrivateNetwork=yes

[Install]
WantedBy=default.target
